footer
	section(class="container footer-section")
		div(class="col-lg-5 col-xs-12")
			p &copy; 2014 Traits Inc. All right reserved
		div(class="col-lg-7 footer-menu")
			form(class="form-inline contact-form-section", role="form", action="/subscribe", novalidate="novalidate", id="subscribeFooter", style="float: right;margin-top: -100px;")
				div(style="width:370px;")
					label NEWSLETTER
					br
					input(type="email", style="display:inline;width:230px;height:37px;", class="form-control", name="subInputEmail", id="subInputEmail", placeholder="email address", required="")
					button(type="submit", style="display:inline;", class="btn-send", id="submit-email-footer") Subscribe                
			div(id="respF")
			div(id="errorF")
	section(class="ss-style-doublediagonal", data-type="background", data-speed="10")

	div(class="md-overlay")
	div(class="jquery-media-detect")
	script(type="text/javascript", src="/js/jrating.jquery.js")
	script(type="text/javascript", src="/js/myscript.js")
	script(type="text/javascript", src="/js/modal_effects.js")
	script(type="text/javascript", src="/js/mailChimp-mailing.js")
		