doctype html
html
	head
		title Traits Inc.
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=8")
		meta(http-equiv="Content-Type", content="text/html; charset=ISO-8859-1")
		meta(name="viewport", content="initial-scale=1.0,width=device-width, user-scalable=no")
		meta(charset="utf-8")
		link(rel='stylesheet', href='/less/style.css')
		link(href="/css/bootstrap.css", rel="stylesheet",media="screen")
    	link(href="/css/fontello.css", rel="stylesheet",media="screen")
    	link(href="/css/mystyle.css", rel="stylesheet",media="screen")
    	link(href="/css/shop_slider.css", rel="stylesheet",media="screen")
    	link(href="/css/slider.css", rel="stylesheet",media="screen")
    	link(href="/css/slider_2.css", rel="stylesheet",media="screen")
    	link(href="/css/sub_slider.css", rel="stylesheet",media="screen")
    	link(href="/css/twitter_slider.css", rel="stylesheet",media="screen")
    	link(href="/css/slide_background.css", rel="stylesheet",media="screen")
    	link(href="/css/shop_slider_background.css", rel="stylesheet",media="screen")
    	link(href="/css/subpage_banners.css", rel="stylesheet",media="screen")
    	link(href="/css/jrating.jquery.css", rel="stylesheet",media="screen")
		<!--[if IE 9]>
		 link(rel="stylesheet", type="text/css", href="/css/ie9.css")
		<![endif]-->
    	link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800',rel='stylesheet',type='text/css')
    	link(href='http://fonts.googleapis.com/css?family=Lora:400,400italic',rel='stylesheet',type='text/css')

    	script(type="text/javascript", src="/js/modernizr.js")
    	script(type="text/javascript", src="/js/bootstrap.js")
    	script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&amp;sensor=false")
    	script(type="text/javascript", src="/js/google_map.js")
    	link(rel="shortcut icon", href="/favicon.ico" type="image/x-icon")
    	link(rel="icon",href="/favicon.ico",type="image/x-icon")
    		
		script(type='text/javascript', src='/libs/spin.js')
		script(type='text/javascript', src='/js/init.js')
		script(type='text/javascript', data-main='/js/main', src='/libs/requirejs/require.js')

    

    
	body
		div(id="___spin")
			h1 Hello!!! 