doctype html
html
	include layouts/header
	body(class="blog_post")
		nav(class="navbar navbar-default navbar-fixed-top", role="navigation")
			div(class="container")
				div(class="row", id="menu-logo")
					div(class="col col-sm-12 logos")
						div(class="navbar-header")
							a(class="navbar-brand", href="#")
								img(src="/images/letterhead-mark.png", alt="Logo")
					div(class="right-cell")
						form(class="navbar-form navbar-right")
							ul
								li
									a(href="#") Blog
	
		div(class="blog-single-post sidebar-left")
			div(class="container")
				div(class="row")
					div(class="col-sm-4 sidebar")
						div(class="widget widget-category")
							h3 Blog List
							ul(class="list-unstyled")
								li(class="category-list")
									a(href="#") About Health
								li(class="category-list")
									a(href="#") My Experience
								li(class="category-list")
									a(href="#") My Travel
								li(class="category-list")
									a(href="#") My Wishes
										
					div(class="col-sm-8")
						div(class="row")
							div(class="col-sm-2")
								img(src="/images/author_avatar_1.jpg", class="author-avatar img-circle img-responsive", alt="Avatar")
							div(class="col-sm-10")
								h2(class="post-title") Etiam Pellentesque Inceptos Consectetur
								div(class="row meta-info")
									div(class="col-sm-6 col-md-3 info")
										span
											i(class="icon-clock-circled") 29 January 2014
								div(class="post-article")
									p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
									p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
									h4 Etiam Venenatis Mattis Vehicula
									p Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
									blockquote Superortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna
									p Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
								hr
								div(class="social-share")
									div(class="row")
										div(class="col-xs-6 share-text") Share
										div(class="col-xs-6 share-button")
											div(class="btn-group")
												a(href="#", class="btn btn-default")
													i(class="icon-facebook")
												a(href="#", class="btn btn-default")
													i(class="icon-gplus")
												a(href="#", class="btn btn-default")
													i(class="icon-twitter")
												a(href="#", class="btn btn-default")
													i(class="icon-dribbble")
		include layouts/footer	